* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding: 0;
    /* background-color: #f4f4f4; */
}

.square {
    background: #007bff;
    border: 1px solid #0056b3;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

